<p id="notice"><%= notice %></p>

<ul>
  <li>物件名：<%= @property.name %></li><br><br>
  <li>賃料：<%= @property.rent %>円</li><br><br>
  <li>住所：<%= @property.address %></li><br><br>
  <li>築年数：<%= @property.age %>年</li><br><br>
  <li>備考：<%= @property.remark %></li>
</ul>
<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
